<div class="app-header">
  <div class="logo" routerLink="/">
    <img
      src="https://res.cloudinary.com/comparte/image/upload/v1625633174/logo.svg"
      alt="Project logo"
    />
    <span>Scrumfull</span>
  </div>
  <div class="nav-options">
    <button
      nz-button
      nzType="text"
      nzTrigger="click"
      nz-dropdown
      [nzDropdownMenu]="projectsMenu"
    >
      Proyectos
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #projectsMenu="nzDropdownMenu">
      <ul nz-menu nzMode="horizontal">

        <li nz-menu-group nzTitle="">
          
          <ul>
            <li
              nz-menu-item
              *ngFor="let project of projects$ | async"
              (click)="changeCurrentProject(project.id)"
            >
              <div class="project-info">
                <img [src]="project.avatarUrl" alt="Project logo" />
                <div class="content">
                  <span
                    >{{ project.name }} ({{ project.key | uppercase }})</span
                  >
                  <span>Proyecto de {{ project.category }}</span>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <nz-divider></nz-divider>
        <li nz-menu-item routerLink="projects/all">Todos los proyectos</li>
        <li nz-menu-item routerLink="projects/new">
          <i nz-icon nzType="plus" nzTheme="outline"></i>Crear Nuevo Projecto
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <div class="nav-options">
    
    <button
      nz-button
      nzType="primary"
      (click)="openCreateIssueModal()"
      [disabled]="(isCurrentProject$ | async) === false"
    >
      Crear tarea
    </button>
  </div>
  <div class="nav-options">
    <div class="avatar-container">
      <nz-avatar
        nz-tooltip
        [nzTooltipTitle]="currentUser?.name"
        [nzSrc]="currentUser?.avatarUrl"
        nzTooltipPlacement="rightBottom"
        nz-dropdown
        [nzDropdownMenu]="userMenu"
        [nzOverlayStyle]="{ 'min-width': '138px' }"
        nzTrigger="click"
      ></nz-avatar>
    </div>
    <nz-dropdown-menu #userMenu="nzDropdownMenu" nzPlacement="bottomRight">
      <ul nz-menu class="user-menu">
       
        <li nz-menu-item class="toggle-on-hover">
          <span (click)="deleteLocalStorage()" routerLink="">Desconectarse</span>
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
