<div class="projects-header">
  <h1>Proyectos</h1>
  <button nz-button nzType="primary" routerLink="/projects/new">
    <i nz-icon nzType="plus" nzTheme="outline"></i> Nuevo proyecto
  </button>
</div>
<div class="projects-content">
  <nz-alert
    *ngIf="projectsError$ | async as errorMsg"
    nzType="error"
    nzMessage="Proyectos no pudieron ser cargados"
    [nzDescription]="errorMsg"
    nzShowIcon
    nzCloseable
  ></nz-alert>
  <form nz-form [nzLayout]="'inline'" [formGroup]="projectsForm">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzSuffixIcon="search">
          <input formControlName="search" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>

  <nz-table
    #projectsTable
    [nzData]="projects$ | async"
    nzSize="middle"
    [nzPageSize]="5"
    nzHideOnSinglePage
  >
    <thead>
      <tr>
        <th
          [nzSortOrder]="null"
          [nzSortDirections]="['ascend', 'descend', null]"
          [nzSortFn]="sortByNameFn"
        >
        <i nz-icon nzType="project" nzTheme="outline"></i> Nombre
        </th>
        <th
          [nzSortOrder]="null"
          [nzSortDirections]="['ascend', 'descend', null]"
          [nzSortFn]="sortByKeyFn"
        >
        <i nz-icon nzType="pushpin" nzTheme="outline"></i> Clave
        </th>
        <th>Categoría</th>
        <th
          [nzSortOrder]="null"
          [nzSortDirections]="['ascend', 'descend', null]"
          [nzSortFn]="sortByLeaderFn"

        >
        <i nz-icon nzType="trophy" nzTheme="outline"></i>
          Líder
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of projectsTable.data">
        <td class="hover" (click)="changeCurrentProject(data.id)">
          <div class="project-info">
            <img [src]="data.avatarUrl" alt="Project logo" />
            <span>{{ data.name }}</span>
          </div>
        </td>
        <td>{{ data.key | uppercase }}</td>
        <td>{{ data.category }}</td>
        <td>
          <div class="leader-info">
            <img [src]="data.leader.avatarUrl ? data.leader.avatarUrl : '../../../../assets/no-image.jpg' " alt="User picture" />
            <span>{{ data.leader.name }}</span>
          </div>
        </td>
        <td nzAlign="right">
          <project-actions [project]="data"></project-actions>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
