<app-button
  nz-dropdown
  nzTrigger="click"
  [nzDropdownMenu]="menu"
  [nzOverlayStyle]="{ 'min-width': '176px' }"
  nzPlacement="bottomRight"
  icon="more-horiz"
  [iconSize]="20"
  [className]="'btn-empty'"
  nz-tooltip
  nzTooltipTitle="Acción"
>
</app-button>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="onDeleteIssue(templContent)">
      <app-svg-icon name="file-delete" [size]="20"></app-svg-icon>Borrar
    </li>
  </ul>
</nz-dropdown-menu>

<ng-template #templContent>
  <p>
    ¿Está seguro que desea eliminar esta tarea?
  </p>
  <p>Si no está seguro presione cancelar.</p>
</ng-template>
